
name: build-and-release
on:
  push:
    tags: ['v*.*.*']
jobs:
  build:
    strategy:
      matrix: { os: [windows-latest, macos-latest] }
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with: { python-version: '3.11' }
      - run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
          python -m pip install pyinstaller
      - shell: bash
        run: |
          if [ "$RUNNER_OS" = "Windows" ]; then
            pyinstaller --noconfirm --onefile --windowed --name OrthoBaA -p . ortho_baa\main.py
            echo "ASSET_PATH=dist/OrthoBaA.exe" >> $GITHUB_ENV
          else
            pyinstaller --noconfirm --windowed --name OrthoBaA ortho_baa/main.py
            ditto -c -k --sequesterRsrc --keepParent "dist/OrthoBaA.app" "dist/OrthoBaA-macOS.zip"
            echo "ASSET_PATH=dist/OrthoBaA-macOS.zip" >> $GITHUB_ENV
          fi
      - uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with: { files: ${{ env.ASSET_PATH }} }
        env: { GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} }
